<!DOCTYPE html>
<!-- {% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"> 上一页</i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}">下一页 <i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %} -->

<html>
<head>
	<meta charset="utf-8" />
	{% block meta %}{% endblock %}
	<title>{% block title %}  {% endblock %} - 小马帝客栈</title>
    <link rel="icon" href="/static/img/1234.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/1234.ico" type="image/x-icon">
    <link rel="stylesheet"  href="/static/css/webapp.css">
	<link rel="stylesheet"  href="/static/css/uikit.min.css">
	<link rel="stylesheet"  href="/static/css/uikit.gradient.min.css">
	<link rel="stylesheet"  href="/static/css/uikit.almost-flat.min.css">
	<script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/webapp.js"></script>
	{% block beforehead %}{% endblock %}
</head>
<body>
	 <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">Xpony</a>
            <ul class="uk-navbar-nav">
                <li data-url="blogs"><a href="/"><i class="uk-icon-book"></i> 文章</a></li>
                <li><a href=""><i class="uk-icon-camera"></i> 摄影</a></li>
                <li><a target="_blank" href="https://github.com/xpony"><i class="uk-icon-code"></i> 编程</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                {% if __user__ %}
                    <li class="uk-parent"  data-uk-dropdown="{pos:'right-top'}">
                        <a href="#0"><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar" style="width: 107px">
                            <ul class="uk-nav uk-nav-navbar">
                                {% if __user__.admin %}
                                    <li><a href="/manage/blogs/create"><i class="uk-icon-folder-open"></i> 创建文章</a></li>
                                    <li><a href="/manage/blogs"><i class="uk-icon-folder-open"></i> 信息管理</a></li>
                                {% endif %}
                                <li><a href="/signout"><i class="uk-icon-sign-out"></i> 退出登录</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                    <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="uk-container uk-container-center" >
        <div class="uk-grid" style="border-top: 20px solid white">
            {% block content %}
            {% endblock %}  
        </div>
    </div>
<!-- 
    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="http://weibo.com" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="https://github.com/xpony" class="uk-icon-button uk-icon-github"></a>
                    <a target="_blank" href="http://www.linkedin.com/" class="uk-icon-button uk-icon-linkedin-square"></a>
                    <a target="_blank" href="https://twitter.com" class="uk-icon-button uk-icon-twitter"></a>
                </p>
                <p>Powered by <a href="http://awesome.liaoxuefeng.com">MyFirst Python Webapp</a>. Copyright &copy; 2019. [<a href="/manage/" target="_blank">xpony</a>]</p>
                <a target="_blank" href="http://www.w3.org/TR/html5/"><i class="uk-icon-paint-brush" style="font-size:64px; color: #444;"></i></a>
            </div>

        </div>
    </div> -->
    <!-- <script src="/static/js/canvas-nest.js"></script> -->
</body>
</html>