{% extends 'base.html' %}

{% block title %}照片管理{% endblock %}

{% block beforehead %}

<script>
function initVM(data) {
    $('#vm').show();
    var vm = new Vue({
        el: '#vm',
        data: {
            photos: data.photos,
            page: data.page
        },
        methods: {
            delete_photo: function (photo) {
                if (confirm('确认要删除照片：' + photo.name + ' ？ 删除后不可恢复！')) {
                    postJSON('/api/photos/' + photo.id + '/delete', function (err, r) {
                        if (err) {
                            return alert(err.message || err.error || err);
                        }
                        refresh();
                    });
                }
            }
        }
    });
}
$(function() {
    getJSON('/api/photos', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/comments">评论</a></li>
                <li><a href="/manage/blogs">文章</a></li>
                <li><a href="/manage/users">用户</a></li>
                <li class="uk-active"><span>照片</span></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1">
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-4-10">名字</th>
                    <th class="uk-width-4-10">URL</th>
                    <th class="uk-width-4-10">上传时间</th>
                    <th class="uk-width-4-10">删</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="photo in photos" >
                    <td>
                        <span v-text="photo.name"></span>
                    </td>
                    <td>
                        <a v-text="photo.url"></a>
                    </td>
                    <td>
                        <span v-text="photo.create_at.toDateTime()"></span>
                    </td>
                    <td>
                        <a v-on:click="delete_photo(photo)" ><i class="uk-icon-trash-o"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div v-component="pagination" v-with="page"></div> -->
    </div>

{% endblock %}