{% extends 'base.html' %}

{% block title %}摄影{% endblock %}

{% block beforehead %}

<script>

$(function() {
    if (location.pathname === '/photos') {
        $('li[data-url=photos]').addClass('uk-active');
    }

});

</script>

{% endblock %}

{% block content %}
<div class="uk-width-medium-1-1 "  >
    <div class="uk-grid uk-grid-width-medium-1-3" data-uk-grid-margin style="width: 1300px; margin-left: -48px; margin-bottom: 40px;">
        {% for photo in photos %}
            <div >

                <div style="" class="my-class" data-uk-scrollspy="{cls:'uk-animation-scale-down', repeat: true}">
                    <a href="{{ photo.url }}" data-lightbox-type="image" data-uk-lightbox="{group:'group1'}" >
                    <img src="{{ photo.url }}" width="300" height="300" alt="" >
                    </a>
                </div>
            </div>
        {% endfor %}
            
    </div>
    <div style="margin: auto; margin-bottom: 30px" data-uk-scrollspy="{cls:'uk-animation-fade', delay:400}">
        {{ pagination('/photos?page=', page) }}
    </div>
</div>
{% endblock %}

